name: Deploy

# This action should file when the code is pushed on master or merged into master
on:
  push:
    branches:
      - master
  pull_request: {}
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TFE_TOKEN: ${{secrets.TFE_TOKEN}}
      GH_ACCESS_TOKEN: ${{secrets.GH_ACCESS_TOKEN}}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: 'npm'

    - name: Install dependencies
      run: npm ci


    - name: Install dependencies
      run: |
        mkdir -p ~/.terraform.d
        cat <<EOT >> ~/.terraform.d/credentials.tfrc.json
        {
          "credentials": {
            "app.terraform.io": {
              "token": "$TFE_TOKEN"
            }
          }
        }
        EOT
        

    - name: Bootstrap
      run: |
        npx lerna bootstrap

    - name: Get Modules
      run: |
        npx lerna run get

    - name: Synth
      run: |
        npx lerna run synth

    - name: Test
      run: |
        npx lerna run test


    - name: Plan
      run: |
        npx lerna run plan

    - name: Deploy
      if: github.ref == 'refs/heads/master'
      run: |
        npx lerna run deploy

    # - name: Publish
    #   run: |
    #     npx lerna publish from-package --yes

    # - name: Push
    #   run: |
    #     git push --follow-tags

    # - name: Cleanup
    #   run: |
    #     rm -rf ~/.terraform.d

    # - name: Slack Notification
    #   uses:
